<ion-header [translucent]="true">
  <ion-toolbar>
   

    <ion-title>Touch plus</ion-title>
  </ion-toolbar>

</ion-header>



<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Home </h1> 
     <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline" routerLink="/home"></ion-icon>
           Home
        </ion-tab-button>
        <ion-tab-button tab="radio" routerLink="/orders">
          <ion-icon name="archive-outline" ></ion-icon>
          Orders
        </ion-tab-button>
       
      </ion-tab-bar>
    </ion-tabs>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="larg">Touch plus</ion-title>
     
    </ion-toolbar>
  </ion-header>
<div class="container">
 
  
  <ion-card class="card" color="secondary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card class="card" color="tertiary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card class="card" color="success">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card class="card" color="warning">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card class="card" color="danger">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card class="card" color="light">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card class="card" color="medium">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card class="card" color="dark">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  <ion-card class="card" color="primary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  </div>
</ion-content>



