<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>
      
      Hi,I am Order page
    
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline" routerLink="/home"></ion-icon>
         Home
      </ion-tab-button>
      <ion-tab-button tab="radio" routerLink="/orders">
        <ion-icon name="archive-outline" ></ion-icon>
        Orders
      </ion-tab-button>
     
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
